<%- include('./port/layout-start', {title: title, user: user}) %>
<%- include('./port/menu') %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><%= title %></h1>
    <br>
    <% if (!user) { %>
        <h3>Пожалуйста, <a href="/login">авторизуйтесь</a> или <a href="/signup">зарегистрируйтесь</a></h3>
    <% } else { %>
        <h3>Привет, <%= user.username %>.</h3>
        <h4>Перейти в <a href="/me">профиль</a>.</h4>
    <% } %>
  </div>
</div>

<%- include('./port/layout-end') %>
